.anime-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anime-card__image {
  width: 100%;
  height: auto;
}

.anime-card__content {
  padding: 10px;
  text-align: center;
}

.anime-card__title {
  font-size: 1.2em;
  margin: 10px 0;
  height: 30px; /* Set a fixed height */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Display ellipsis */
  white-space: nowrap; /* Prevent text from wrapping */
}

.anime-card__synopsis {
  font-size: 0.9em;
  color: #666;
  height: 30px; /* Set a fixed height */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Display ellipsis */
  white-space: nowrap; /* Prevent text from wrapping */
}
